<div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Shopping Bag
  </div>

  <!-- Product #1 -->
  <div class="item">
    <div class="buttons">
      <span class="glyphicon glyphicon-trash"></span>
    </div>

    <div class="image">
      <img src="/images/fl_icecream_cherryvanilla_hero.jpg" alt="" />
    </div>

    <div class="description">
      <span>Cherry Vanilla</span>
    </div>

    <div class="quantity">
      <button class="glyphicon glyphicon-plus" type="button" name="button">
      </button>
      <input type="text" name="name" value="1">
      <button class="glyphicon glyphicon-minus" type="button" name="button">
      </button>
    </div>

    <div class="total-price">$5</div>
  </div>

  <!-- Product #2 -->
  <div class="item">
      <div class="buttons">
        <span class="glyphicon glyphicon-trash"></span>
      </div>

    <div class="image">
      <img src="/images/fl_icecream_greentea_hero.jpg"/>
    </div>

    <div class="description">
      <span>Green Tea</span>
    </div>

    <div class="quantity">
      <button class="glyphicon glyphicon-plus" type="button" name="button">
      </button>
      <input type="text" name="name" value="1">
      <button class="glyphicon glyphicon-minus" type="button" name="button">
      </button>
    </div>

    <div class="total-price">$6</div>
  </div>

  <!-- Product #3 -->
  <div class="item">
      <div class="buttons">
        <span class="glyphicon glyphicon-trash"></span>
      </div>

    <div class="image">
      <img src="/images/fl_icecream_belgianchocolate_hero.jpg" alt="" />
    </div>

    <div class="description">
      <span>Belgian Chocolate</span>
    </div>

    <div class="quantity">
      <button class="glyphicon glyphicon-plus" type="button" name="button">
      </button>
      <input type="text" name="name" value="1">
      <button class="glyphicon glyphicon-minus" type="button" name="button">
      </button>
    </div>

    <div class="total-price">$7</div>
  </div>

  <div style="margin:10px">
      <button class="btn btn-primary add-to-cart">
          <a href="/checkout" style="color:white">
              <span class="">Checkout</span>
          </a>
      </button>


  </div>
</div>
