<div class="" style="margin:85px 5px;background-color: rgba(0,0,0,0.75);">
    <div class="title col-xs-12">
        Checkout
    </div>

    <form id="payment-form"
        class="form-horizontal"
        style="margin: 25px; padding: 60px 0px; color: white;">
        <div class="form-group" style="margin-top: 10px; height: 35px;">
            <div class="col-sm-offset-2 col-sm-10" style="margin-top:10px;">
                <span class="payment-errors" style="color:red"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="card-number">Card Number</label>
            <div class="col-sm-4">
                <input type="text" placeholder="XXXX XXXX XXXX XXXX" size="20"
                    data-stripe="number" class="form-control card-number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="expiration">Expiration (MM/YY)</label>
            <div class="col-xs-12 col-sm-4">
                <input type="text" size="2" data-stripe="exp_month" placeholder="XX" class="card-expiry-month date-input">
                <span class="date-separator"> / </span>
                <input type="text" size="2" data-stripe="exp_year" class="card-expiry-year date-input" placeholder="XX">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="cvc">CVC</label>
            <div class="col-sm-4">
                <input type="text" size="3" placeholder="XXX" data-stripe="cvc" class="date-input card-cvc">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" class="btn btn-primary submit" value="Submit Payment" onclick="submitForm()">
            </div>
        </div>
    </form>
</div>
