<div class="jumbotron header-jumbo">
  <h1 style="color: black;
    font-size: 60px;
    text-align: center;">Sweet Tooth</h1>
</div>

<div class="col-xs-12">
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 menu-item">
            <img src="/images/fl_icecream_mango_hero.jpg" class="menu-item-image"/>
            <h2 class="menu-item-title col-xs-10">
                Mango
            </h2>
            <h2 class="col-xs-2">$5</h2>
            <button class="btn btn-primary add-to-cart">Add To Cart</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 menu-item">
            <img src="/images/fl_icecream_chocolatepeanutbutter_hero.jpg" class="menu-item-image"/>
            <h2 class="menu-item-title col-xs-10">
                Chocolate Peanut Butter
            </h2>
            <h2 class="col-xs-2">$6</h2>
            <button class="btn btn-primary add-to-cart">Add To Cart</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 menu-item">
            <img src="/images/fl_icecream_belgianchocolate_hero.jpg" class="menu-item-image"/>
            <h2 class="menu-item-title col-xs-10">
                Belgian Chocolate
            </h2>
            <h2 class="col-xs-2">$7</h2>
            <button class="btn btn-primary add-to-cart">Add To Cart</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 menu-item">
            <img src="/images/fl_icecream_butterpecan_hero.jpg" class="menu-item-image"/>
            <h2 class="menu-item-title col-xs-10">
                Butter Pecan
            </h2>
            <h2 class="col-xs-2">$6</h2>
            <button class="btn btn-primary add-to-cart">Add To Cart</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 menu-item">
            <img src="/images/fl_icecream_caramelcone_hero.jpg" class="menu-item-image"/>
            <h2 class="menu-item-title col-xs-10">
                Caramel Cone
            </h2>
            <h2 class="col-xs-2">$5</h2>
            <button class="btn btn-primary add-to-cart">Add To Cart</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 menu-item">
            <img src="/images/fl_icecream_vanillachocolatechip_hero.jpg" class="menu-item-image"/>
            <h2 class="menu-item-title col-xs-10">
                Vanilla Chocolate Chip
            </h2>
            <h2 class="col-xs-2">$6</h2>
            <button class="btn btn-primary add-to-cart">Add To Cart</button>
        </div>
    </div>
</div>
