<div class="col-xs-12">
    <h1 class="title">Menu</h1>
</div>

<div class="col-xs-12">
    <div class="col-xs-12 col-sm-6">
        <div class="col-xs-12 menu-item">
            <img src="/images/chai-su-x.jpg" class="col-xs-4 menu-item-image"/>
            <h2 class="col-xs-8 menu-item-title">
                Udhaar Wali
            </h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="col-xs-12 menu-item">
            <img src="/images/chai-su-x.jpg" class="col-xs-4 menu-item-image"/>
            <h2 class="col-xs-8 menu-item-title">
                Station Wali
            </h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="col-xs-12 menu-item">
            <img src="/images/chai-su-x.jpg" class="col-xs-4 menu-item-image"/>
            <h2 class="col-xs-8 menu-item-title">
                Baarish Wali
            </h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="col-xs-12 menu-item">
            <img src="/images/chai-su-x.jpg" class="col-xs-4 menu-item-image"/>
            <h2 class="col-xs-8 menu-item-title">
                Thele Wali
            </h2>
        </div>
    </div>
</div>
