@media screen and (max-width: 480px) {
    .date-separator {
        height: 34px;
        padding: 6px 7px;
        font-size: 14px;
        color: #555;
    }
}

form {
    background-color: rgba(72, 67, 67, 0.5);
    margin-top: 20px;
}

@media screen and (min-width: 480px) {
    .date-separator {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        color: #555;
    }
}

.header-jumbo {
    background: linear-gradient(150deg, #f9f5f5 0%, rgb(199, 194, 194) 51%, #f7f5f5 75%);
}

body {
    /*background: url('/images/cutting-chai-2.jpg');*/
    color: #dbe1e6 !important;
    background-position: 50% 0%;
    background-color: white !important;
    background-repeat: no-repeat;
    font-family: fantasy;
    /*background: linear-gradient(141deg, #1099da 0%, #76a8bf 51%, #2cb5e8 75%);*/
}

.add-to-cart {
    padding: 9px 12px 3px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
}

.date-input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu-item {
    border: solid 1px gray;
    color: #7d1717;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title {
    text-align: center;
}

.menu-item-image {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.menu-item-title {
    margin-top: 15px;
}
